@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --teal-100: #d2f4ea;
  --teal-200: #a6e9d5;
  --teal-300: #79dfc1;
  --teal-400: #4dd4ac;
  --teal-500: #20c997;
  --teal-600: #1aa179;
  --teal-700: #13795b;
  --teal-800: #0d503c;
  --teal-900: #06281e;
  --blue: #4e73df;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #e74a3b;
  --orange: #fd7e14;
  --yellow: #f6c23e;
  --green: #1cc88a;
  --teal: #20c9a6;
  --cyan: #36b9cc;
  --white: #fff;
  --gray: #858796;
  --gray-dark: #5a5c69;
  --primary: #4e73df;
  --secondary: #858796;
  --success: #1cc88a;
  --info: #36b9cc;
  --warning: #f6c23e;
  --danger: #e74a3b;
  --light: #f8f9fc;
  --dark: #5a5c69;
  --black: #131314;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

/* ========== TEXT COLOR ========== */

.text-gray-100 {
  color: #f8f9fc !important;
}

.text-gray-200 {
  color: #eaecf4 !important;
}

.text-gray-300 {
  color: #dddfeb !important;
}

.text-gray-400 {
  color: #d1d3e2 !important;
}

.text-gray-500 {
  color: #b7b9cc !important;
}

.text-gray-600 {
  color: #858796 !important;
}

.text-gray-700 {
  color: #6e707e !important;
}

.text-gray-800 {
  color: #5a5c69 !important;
}

.text-gray-900 {
  color: #3a3b45 !important;
}

.text-warning-custom {
  color: var(--warning);
}

.text-danger-custom {
  color: var(--danger);
}

.text-teal-500 {
  color: var(--teal-500);
}

.border-left-warning {
  border-left: 0.25rem solid var(--warning) !important;
}

.border-left-danger {
  border-left: 0.25rem solid var(--danger) !important;
}

.border-bottom-teal-500 {
  border-bottom: 0.1rem solid var(--teal-500) !important;
 }

.font-weight-bold {
  font-weight: 500 !important;
}

.border-bottom-success {
  border-bottom: 0.15rem solid var(--teal-500) !important;
 }

 .text-bg-success {
  background-color: var(--teal-500) !important; 
 }

 .text-bg-warning {
  background-color: var(--warning) !important; 
 }

 .text-bg-danger {
  background-color: var(--danger) !important; 
 }


/* ========== BACK TO TOP ========== */

.back-to-top {
  width: 100%;
  bottom: 2rem;
}

.button-teal-500.custom-back-to-top {
  display: none;
  background-color: rgba(32, 201, 151, 0.8);
}

/* ========== NAVBAR ========== */

.navbar {
  position: fixed;
  z-index: 1050;
  width: 100vw;
  background-color: transparent;
  backdrop-filter: blur(20px);
}

.navbar.scrolled {
  background-color: var(--teal-600);
}

.nav-link {
  font-weight: 400;
}

.dropdown .profile-picture {
  max-width: 2.5rem;
  height: 2.5rem;
  padding: 0;
}

.dropdown .profile-picture:focus {
  border: none;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.dropdown-profile {
  border: none;
  background: rgb(210, 244, 234);
  background: linear-gradient(45deg, rgba(210, 244, 234, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(210, 244, 234, 1) 100%);
}

.dropdown-profile a,
.dropdown-profile i {
  color: var(--teal-500);
  transition: all 0.2s;
}

.dropdown-profile a:hover,
.dropdown-profile i:hover {
  color: var(--teal-600);
}

.dropdown-profile hr {
  background-color: var(--white);
}

.button-teal-500 {
  display: inline-block;
	font-weight: 400;
	text-align: center;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	color: var(--white);
	background-color: var(--teal-500);
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
}

.button-teal-500:hover {
  background-color: var(--teal-400);
  color: var(--white)
}

.button-teal-500-custom {
  background-color: var(--teal-600);
}

.button-teal-500-custom:hover {
  background-color: var(--teal-700);
}

.button-white {
  display: inline-block;
	font-weight: 400;
	text-align: center;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	color: var(--teal-500);
	background-color: var(--white);
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
}

/* ========== FOOTER ========== */

.footer {
  margin-top: 70px;
  background-color: var(--teal-600);
}

.footer.active {
  margin-top: 0;
}

.footer .card-body {
  margin-top: 70px;
  margin-bottom: 70px;
}

.footer .card {
  background-color: var(--teal-600);
}

.footer h5 {
  color: var(--white);
}

/* ========== JUMBOTRON ========== */

.jumbotron {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.jumbotron-container {
  height: 100%;
}

.jumbotron-content {
  width: 50%;
}

.jumbotron-content p {
  font-weight: 300;
  line-height: 2rem;
}

.breadcrumb-item a {
  color: var(--teal-500);
}

.breadcrumb-item.active {
  color: var(--white);
}

/* ========== JUMBOTRON 2 ========== */

.jumbotron-2 {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 45vh;
}

.jumbotron-2 .form-seach {
  margin-top: 3rem;
  margin-bottom: 0;
}

.jumbotron-container-2 {
  height: 100%;
}

.jumbotron-content-2 {
  width: 100%;
}

.jumbotron-content-2 h2 {
  margin-top: 3rem;
  margin-bottom: 0;
}

.jumbotron-content-2 p {
  font-weight: 300;
  line-height: 2rem;
}

/* ========== HOME ========== */

.layanan-container {
  position: relative;
  top: -70px;
  background-color: var(--white);
  z-index: 2;
}

.layanan-content h5 {
  color: var(--teal-500);
}

.layanan-content p {
 text-align: center;
}

.layanan-icon {
  width: 4rem;
  height: 4rem;
  background-color: var(--teal-500);
  transition: all 0.2s;
}

.layanan-icon:hover {
  background-color: var(--teal-400);
}

.layanan-icon i {
  font-size: 1.6rem;
  color: var(--white);
}

.main-content .h3-home {
  color: var(--teal-600);
  font-weight: 600;
}

.selengkapnya-container {
  width: 100%;
  height: 18rem;
  background: linear-gradient(6deg, rgba(121,223,193,1) 0%, rgba(77,212,172,1) 26%, rgba(32,201,151,1) 50%, rgba(77,212,172,1) 75%, rgba(121,223,193,1) 100%);
  text-decoration: none;
  color: var(--white);
  opacity: 1;
  transition: all 0.2s;
}

.selengkapnya-container:hover {
  background: linear-gradient(10deg, rgba(121,223,193,1) 0%, rgba(77,212,172,1) 26%, rgba(32,201,151,1) 50%, rgba(77,212,172,1) 75%, rgba(121,223,193,1) 100%);
  opacity: 0.9;
}

.selengkapnya-container i {
  color: var(--white);
}

.selengkapnya-artikel {
  height: 248px;
}

.swiper-satwa, .swiper-artikel {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
}

.swiper-artikel .card {
  border: 1px solid var(--teal-200);
  border-radius: 0.55rem;
}

.swiper-wrapper {
  position: relative;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1rem !important;
  font-weight: 700;
  color: white;
  background-color: var(--teal-500);
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.tentangkami-container {
  background-position: center;
  background-size: cover;
  margin: 70px 0;
}

.tentangkami-content {
  width: 60%;
  backdrop-filter: blur(20px);
}

.tentangakami-body {
  padding-bottom: 70px;
}

.tentangkami-contact i {
  font-size: 1.2rem;
}

.jumlahlaporan-container{
  background: rgb(255,255,255);
  background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(121,223,193,1) 50%, rgba(255,255,255,1) 100%);
}

.jumlahlaporan-content-row {
  padding-bottom: 70px;
}

.jumlahlaporan-content {
  background-color: var(--teal-500);
}

.jumlahlaporan-icon {
  width: 4rem;
  height: 4rem;
  background-color: var(--white);
}

.jumlahlaporan-icon i {
  font-size: 1.6rem;
  color: var(--teal-500);
}

.donasi-container {
  padding: 70px 0;
  background-position: center;
  background-size: cover;
}

.donasi-home-content {
  backdrop-filter: blur(20px);
}

/* .donasi-home-content h3 {
  padding-bottom: 40px;
} */

.faq-container {
  padding: 70px 0;
}

.faq-container img {
  width: 25rem;
}

.faqlanjut-container {
  padding: 70px 0;
  background: rgb(255,255,255);
  background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(121,223,193,1) 50%, rgba(255,255,255,1) 100%);
}

.faqlanjut-container .faqlanjut-content {
  background-color: var(--teal-500);
}

.profil-container {
  margin-top: 70px;
  background-color: var(--teal-500);
}

.profil-image {
  width: fit-content;
  background-color: var(--white);
}

.profil-image img {
  background-color: #e6e6e6;
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}

.profil-content h3, .profil-content p {
  color: var(--white);
}

.profil-container .profil-input {
  width: 75%;
}

/* ========== DONASI ========== */

.main-content .h3-top {
  padding-top: 70px;
  color: var(--teal-600);
  font-weight: 600;
}

.main-content .h3-top span, .main-content .h3-home span  {
  color: var(--teal-900);
}

.main-content p.p-top {
  font-size: 0.95rem;
  font-weight: 400;
  font-style: italic;
  color: var(--teal-900);
  padding-bottom: 40px;
}

.donasi-content {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: fit-content;
}

.donasi-jumlah {
  backdrop-filter: blur(6px);
}

.accordion {
  background-color: transparent;
  border-radius: 0.35rem !important;
}

.accordian-donasi tr td {
  padding: 0.5rem 0;
}

.accordian-donasi tr td:first-child {
  padding-right: 0.5rem;
  font-size: 0.95rem;
  font-weight: 500;
}

.accordian-donasi tr td:last-child p:first-child {
  font-weight: 500;
}

.accordion-button:not(.collapsed) {
  background-color: var(--teal-500);
  border-radius: 0.35rem !important;
}

.accordion-button:not(.collapsed) h6 {
  color: var(--white);
}

.accordion-button:not(.collapsed) .accordion-logo {
  background-color: var(--white);
  padding: 0.5rem;
}

.accordion-button {
  color: var(--teal-500);
  border-radius: 0.35rem !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: none;
}

.accordion-button::after {
  display: flex;
  justify-content: center;
  align-items: center;
  content: '\2212';
  color: var(--teal-500);
  font-size: 1.5em;
}

.accordion-button:not(.collapsed)::after {
  display: flex;
  justify-content: center;
  align-items: center;
  content: '\002b';
  color: var(--white);
  font-size: 1.5em;
}

.accordion-button::after {
  background-image: none;
}

.rekening-box {
  background-color: var(--teal-500);
}

.table tr {
  border: var(--white);
}

.table tr td {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

/* ========== INFORMASI SATWA ========== */

.satwa-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.satwa-overlay:hover {
  transform: scale(1.2);
}

.satwa-overlay img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.satwa-content {
  width: 100%;
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
  z-index: 2;
  backdrop-filter: blur(20px);
}

.satwa-content h6 {
  color: var(--white);
  font-weight: 500;
}

.satwa-content p {
  color: var(--white);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.satwa-box {
  height: 18rem;
  position: relative;
  overflow: hidden;
}

/* ========== DETAIL SATWA ========== */

.jumbotron-3 {
  background-size: cover;
  background-position: center;
  height: 100vh;
  max-height: fit-content;
}

.jumbotron-container-3 {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
}

.detail-poster,
.detail-content {
  height: 100%;
}

.detail-poster .poster-box {
  /* width: 18rem; */
  max-width: 25rem;
  height: fit-content;
  /* height: 25rem; */
  position: relative;
}

.poster-box a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.poster-box .like-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 2;
}

.detail-content h1 {
  color: var(--white);
}

.detail-content .table {
  --bs-table-color-state: var(--white);
  --bs-table-bg: transparent;
}

.detail-content .table th {
  border-top: 0;
  min-width: 8rem !important;
  max-width: 10rem !important;
}

.detail-content .table td {
  border-top: 0;
}

.taxonomy-box {
  backdrop-filter: blur(10px);
}

.taxonomy-box h6 {
  font-weight: 400;
}

.taxonomy-box h5 {
  font-weight: 700;
}

.table>:not(caption)>*>* {
  border-bottom-width: 0;
}

@media (min-height: 100vh) {
  .jumbotron-3 {
    height: fit-content;
    max-height: none;
  }

  .jumbotron-container-3 {
    padding-top: 120px;
  }

  .detail-satwa-container {
    align-items: start;
  }

  .detail-poster {
    margin-top: 0.5rem;
  }

  .table-riwayat {
    width: 100%;
    min-width: 20rem;
  }

  .table-riwayat th {
    font-size: 0.95rem;
  }

  .table-riwayat tr td {
    padding: 1rem;
  }

  .table-riwayat p,
  .table-riwayat i {
    font-size: 0.9rem;
  }

  .table-riwayat .description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .table-riwayat .icon-riwayat p,
  .table-riwayat .icon-riwayat i {
    font-size: 0.8rem;
    color: var(--secondary);
  }

  .table-riwayat tr td:first-child {
    min-width: 20rem;
  }
}

/* ========== DATA TABLES ========== */

.active>.page-link,
.page-link.active {
  z-index: 3;
  color: var(--white);
  background-color: var(--teal-500);
  border-color: var(--teal-500);
}

div.dataTables_wrapper div.dataTables_filter {
  padding-right: 12px;
}

div.dataTables_wrapper div.dataTables_length {
  padding-left: 12px;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  padding-right: 12px;
}

div.dataTables_wrapper div.dataTables_info {
  padding-left: 12px;
}

div.dataTables_wrapper div.dataTables_filter>label>input:focus {
  box-shadow: 0 0 0 0.2rem rgba(32, 201, 151, 0.25);
}

div.dataTables_wrapper div.dataTables_length>label>select:focus {
  box-shadow: 0 0 0 0.2rem rgba(32, 201, 151, 0.25);
}

.pagination {
  --bs-pagination-color: var(--teal-500);
  --bs-pagination-disabled-bg: var(--white);
}

/* ========== INFORMASI ARTIKEL ========== */

.artikel-poster{
  padding: 0.4rem;
  height: 15.4rem;
}

.artikel-poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.artikel-content .card-title {
  color: var(--teal-500);
}

.artikel-content h5 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.artikel-content .description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* ========== DETAIL ARTIKEL ========== */

.jumbotron-4 {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 60vh;
}

.jumbotron-container-4 {
  height: 100%;
  background-color: rgba(0 ,0 ,0 , 0.6);
}

.jumbotron-content-4 {
 width: 100%;
}

.detail-artikel-container {
  position: relative;
  z-index: 2;
  top: -70px;
  background-color: var(--white);
}

.detail-artikel-container img {
  width: 100%;
  height: fit-content;
  object-fit: cover;
}

.detail-artikel-content, .detail-artikel-sidebar  {
  padding: 0.5rem;
}

.detail-artikel-content a, .detail-artikel-content h1, .detail-artikel-content h2, .detail-artikel-content h3, .detail-artikel-content h4 {
  color: var(--teal-500);
}

.detail-artikel-content h1, .detail-artikel-content h2, .detail-artikel-content h3, .detail-artikel-content h4 {
  margin-bottom: 1rem;
}

.detail-artikel-sidebar h6 {
  color: var(--teal-500);
}

/* .favorite-button-artikel-box {
  position: relative;
}

.favorite-button-artikel {
  position: absolute; 
  top: -180px; 
  right: 10px;
} */

/* ========== LAPORKAN ========== */

.form-laporkan h5 {
  color: var(--teal-500);
  font-weight: 500;
}

.form-laporkan p {
  font-size: 1rem;
  /* background-color: var(--teal-500); */
}

.form-laporkan .information {
  background-color: var(--teal-500);
}

.form-laporkan .lokasi-kejadian{
  border: 2px solid var(--danger);
}

.form-laporkan .lokasi-anda{
  border: 2px solid var(--primary);
}

/* ========= LOGIN ======== */
.login-container {
  width: 100%;
  height: 100vh;
}

.login-box {
  backdrop-filter: blur(20px);
}

.login-box .input-group-text {
  background-color: var(--teal-500);
}

.login-box .label-checkbox,
.login-box a {
  color: var(--teal-500);
  font-size: 0.9rem;
}

.login-box .input-group-text {
  border: var(--teal-500);
}

.login-box .form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(32, 201, 151, 0.25);
}

.login-box p {
  color: var(--teal-500);
  font-size: 0.9rem;
}

.login-box p a {
  color: var(--teal-500);
  font-size: 0.9rem;
  text-decoration: none;
}

@media screen and (max-width: 992px) {

  /* ========== NAVBAR========== */

  .nav-item {
    margin: 0.5rem 0;
  }

  .login-button-box {
    margin-bottom: 1rem;
  }

  /* ========== JUMBOTRON  ========== */

  .jumbotron {
    height: 60vh;
  }

  .jumbotron-content {
    width: 75%;
  }

  /* ========== JUMBOTRON 2 ========== */

  .jumbotron-2 {
    height: 25vh;
  }

  .jumbotron-content-2 h2 {
    margin-top: 3rem;
    margin-bottom: 0;
  }

  /* ========== JUMBOTRON 3 ========== */

  .jumbotron-3 {
    height: fit-content;
  }

  /* ========== FOOTER ========== */

  .footer {
    margin-top: 60px;
  }

  .footer.active {
    margin-top: 0;
  }

  .footer .card-body {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  /* ========== MAIN CONTENT ========== */

  .main-content .h3-top {
    padding-top: 60px;
  }

  /* ========== JUMBOTRON 3 ========== */

  .jumbotron-container-3 {
    padding-top: 100px;
    padding-bottom: 60px;
  }

  /* ========== DETAIL SATWA ========== */

  .detail-satwa-container {
    display: flex;
    align-items: center;
  }

  /* ========== DETAIL ARTIKEL ========== */

  .jumbotron-4 {
    height: 40vh;
  }

  .detail-artikel-container {
    top: -60px;
  }

   /* ========== HOME ========== */

  .layanan-container {
    top: -60px;
  }

  .selengkapnya-artikel {
    height: 246px;
  }

  .tentangkami-container {
    margin: 60px 0;
  }

  .tentangkami-content {
    width: 80%;
  }

  .tentangakami-body {
    padding-bottom: 60px;
  }

  .jumlahlaporan-content-row {
    padding-bottom: 60px;
  }

  .donasi-container {
    padding: 60px 0;
  }

  .faq-container {
    padding: 60px 0;
  }

  .faqlanjut-container {
    padding: 60px 0;
  }

  .profil-container {
    margin-top: 60px;
  }

  .profil-container .profil-input {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {

  /* ========== NAVBAR ========== */

  .nav-item {
    margin: 0.5rem 0;
  }

  .login-button-box {
    margin-bottom: 1rem;
  }

  /* ========== JUMBOTRON  ========== */

  .jumbotron {
    height: 100vh;
  }

  .jumbotron-content {
    width: 100%;
  }

  /* ========== JUMBOTRON 2 ========== */

  .jumbotron-2 {
    height: 35vh;
  }

  .jumbotron-search-2 {
    height: 45vh;
  }

  .jumbotron-2 .form-seach {
    margin-top: 0;
  }

  .jumbotron-content-2 h2 {
    margin-top: 3rem;
    margin-bottom: 0;
  }

  /* ========== MAIN CONTENT ========== */

  .main-content .h3-top {
    padding-top: 50px;
  }

  .main-content p.p-top {
    padding-bottom: 30px;
  }

  /* ========== FOOTER ========== */

  .footer {
    margin-top: 50px;
  }

  .footer.active {
    margin-top: 0;
  }

  .footer .card-body {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  /* ========== INFORMASI SATWA ========== */

  .satwa-box {
    height: 16rem;
    position: relative;
    overflow: hidden;
  }

  /* ========== JUMBOTRON 3 ========== */

  .jumbotron-container-3 {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .table-responsive .row {
    gap: 0.5rem;
  }

  /* ========== INFORMASI ARTIKEL ========== */

  .artikel-poster{
    height: 10rem;
  }

  /* ========== DETAIL ARTIKEL ========== */

  .jumbotron-4 {
    height: 60vh;
  }

  .detail-artikel-container {
    top: -50px;
  }

  .detail-artikel-container img {
    height: 15rem;
  }

  /* .favorite-button-artikel {
    position: absolute; 
    top: -100px; 
    right: 10px;
    z-index: 10;
  } */

  /* ========== HOME ========== */

  .layanan-container {
    top: -50px;
  }

  .selengkapnya-container {
    height: 16rem;
  }

  .selengkapnya-artikel {
    height: 392px;
  }

  .tentangkami-container {
    margin: 50px 0;
  }

  .tentangakami-body {
    padding-bottom: 50px;
  }

  .tentangkami-content {
    width: 90%;
  }

  .jumlahlaporan-content-row {
    padding-bottom: 50px;
  }

  .donasi-container {
    padding: 50px 0;
  }

  /* .donasi-home-content h3 {
    padding-bottom: 30px;
  } */

  .faq-container {
    padding: 50px 0;
  }  

  .faq-container img {
    width: 18rem;
  }

  .faqlanjut-container {
    padding: 50px 0;
  }

  .profil-container {
    margin-top: 50px;
  }
}

.required:after {
  content: "*";
  position: relative;
  font-size: inherit;
  color: var(--bs-danger);
  padding-left: .25rem;
  font-weight: 600
}